Boruta==0.3
catboost==1.2
category-encoders==2.6.1
feature-engine==1.6.1
lightgbm==4.0.0
matplotlib==3.6.0
matplotlib-inline==0.1.6
numpy==1.23.3
optuna==3.2.0
pandas==1.5.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
xgboost==1.7.6
